asgiref==3.2.7
click==7.1.2
Django==3.1.12
django-crispy-forms==1.9.1
gunicorn==20.0.4
jieba==0.42.1
joblib==0.15.1
nltk==3.5
numpy==1.18.4
pytz==2020.1
regex==2020.5.14
scikit-learn==0.23.1
scipy==1.4.1
simple-pickle==1.5.0
sqlparse==0.3.1
tabulate==0.8.7
text-process==2.5.2
threadpoolctl==2.1.0
tqdm==4.46.0
utils==1.0.1
whitenoise==5.1.0
