{% load static %}
<head>
    <title>foot</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <style>
        .page-footer{
            background-color: rgb(13, 28, 52) !important;
        }
    </style>
</head>
<body>
    <!-- Footer -->
    <footer class="page-footer font-small ">
        <!-- Copyright -->
            <nav class="nav mt-3 justify-content-center py-2">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
                <a class="nav-link" href="{% url 'history' %}"> History </a>
                <a class="nav-link" href="{% url 'home' %}"> Blog </a>
                <a class="nav-link" href="{% url 'home' %}"> FAQs </a>
                <a class="nav-link" href="{% url 'home' %}"> About Us </a>
                <a class="nav-link" href="{% url 'home' %}"> Privacy </a>
            </nav>
        <div class="footer-copyright text-center py-1 pt-3">
            Copyright © 2020:
            <p>Group 7</p>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
</body>
