{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>foot</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <style>
        .page-footer{
            background-color: #6c757d !important;
        }
    </style>
</head>
<body>
<br>
<br>
<br>
    <!-- Footer -->
    <footer class="page-footer font-small">
        <!-- Copyright -->
            <nav class="nav mt-3 justify-content-center">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
                <a class="nav-link" href="{% url 'history' %}"> History </a>
                <a class="nav-link" href="{% url 'home' %}"> Blog </a>
                <a class="nav-link" href="{% url 'home' %}"> FAQs </a>
                <a class="nav-link" href="{% url 'home' %}"> About Us </a>
                <a class="nav-link" href="{% url 'home' %}"> Privacy </a>
            </nav>
        <div class="footer-copyright text-center py-3">
            Copyright © 2020 Group 7. All right reserved
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
</body>
</html>