{% extends 'base.html' %}
{% load static %}

{% block content %}

    <br>
    <div class="jumbotron mt-5">
        <h2 style="font-weight: bold">How does it work?</h2>
        <p>Paste the content of email in to find out email is spam or not.</p>
        <p>Hint: <a href="{% url 'login' %}"> login </a> to get more exciting thing!</p>

        <form method="post">
              <div class="form-group">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="message" required="required" placeholder="Your email go here... "></textarea>
              </div>
            <br>
            <button type="submit" onclick="scrollDown()" class="btn btn-success btn-block btn-large"> Check Now!
            </button>
            {% csrf_token %}
        </form>
    </div>

    <br><br>
    <div id="scroll">
        {% if result %}
            <script>scrollDown();</script>
            <div class="jumbotron" id="result">
                <h2 class="font-weight-bold">Result</h2>
                <div><br> "{{ message }}" <br><br></div>
                <p class="text-warning"><strong style="font-size: larger">{{ result }}</strong>! | <span class="text-success">{{ accuracy }}% accuracy.</span> </p>
            </div>
            <script>scrollDown();</script>
        {% else %}
            <p></p>
        {% endif %}
    </div>
{% endblock %}

